h1{
    text-align: center;
}
.wrapper{
    max-width: 1200px;
    padding:0 16px;
    margin:auto;
}
.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}
.navbar{
    padding:20px;
    margin-bottom:20px;
    background:#008cba;
    color:#fff;
    display: flex;
    justify-content: space-between;
}
.navbar .create{
    color: #fff;
    font-size:1.5rem;
}
.navbar .navbar-brand{
    color:#fff;
    font-size:2rem;

}
.navbar-brand:hover,.create:hover{
    color: #fff;

}
.form-container{
    margin: 20px auto;
    width: 400px;
}